.right-box{
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 40px;
    width: 46%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.history-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 30px;
}
.history-box h1{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}
.income-box, .spendings-box{
    width: 49% !important;
    padding: 0 15px;
}
.line{
    width: 1px;
    height: auto;
    background-color: #645F5F;
    height: calc(100% - 50px);
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc; 
    margin: 5px 0;
}
.content-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 45px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}
.content-box .content-name{
    font-size: 20px;
    font-family: Inter !important; 
    color: #424242;

}
.content-box .content-amount{
    color: #424242;
    font-size: 20px;
    font-family: Inter;
}
.income-box .content-box{
    background: linear-gradient(to right,  rgba(25, 228, 15, 0.7), rgba(97, 226, 146, 0.5));
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.1);
}
.spendings-box .content-box{
    background: linear-gradient(to right, rgba(255, 0, 0, 0.7), rgba(222, 95, 97, 0.5));
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.1);
}