body{
    background-color: #A7BFD2;
    font-family: Roboto;
}
.main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wheel{
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 1;    
    background-color: rgba(255, 255, 255, 0.35);    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px 10px 20px 10px;
    border-radius: 40px;
}
.currency{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.currency button{
    font-size: 32px;
    font-family: Inter;
    border: 1.5px solid black;
    border-radius: 20px;
    padding: 6px 20px;
    background-color: none;
    transition: all 0.3s;
    
}
.currency button:hover, .timespace button:hover {
    background-color: #c0c0c0;
}
.dataButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.amount{
    font-family: Lato;
    font-size: 60px;
    width: 350px;
    text-align: center;   
    margin: 15px 0;
}
.totals{
    font-family: Inter;
    font-weight: normal;
    font-size: 36px;
    margin-top: 15px;
}
.earned{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.earned p{
    font-family: Lato;
    font-size: 2em;
}
.ammount-earned{
    color: #1D7B0E;
}
.ammount-spent{
    color: #CD2626;
}
.timespace{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.timespace button{
    font-size: 32px;
    font-weight: normal;
    font-family: Inter;
    width: 110px;
    height: 45px;
    border-radius: 15px;
    border: 1.5px solid black;
    background-color: transparent;
    transition: all ease-in 0.2s;
}
.timespace button:hover{
    background-color: #637398;
    border-color: #637398;
    color: white;
}
.reset-button{
    width: 110px;
    height: 30px;
    font-size: 20px;
    font-family: Inter;
    margin-top: 70px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    transition: all ease-in 0.2s;
}
.reset-button:hover{
    transform: translate(1.1);
    background-color: #637398;
    border-color: #637398;
    color: white;
}
.plus, .minus{
    font-size: 30px;
    font-weight: normal;
    font-family: Inter;
    width: 170px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    transition: all ease-out 0.15s;
}
.plus{
    background-color: rgba(43, 155, 33, 0.5);
}
.minus{
    background-color: rgba(238, 28, 28, 0.5);
}
.plus:hover{
    transform: scale(1.1);
    background-color: rgba(51, 186, 39, 0.797);
}
.minus:hover{
    transform: scale(1.1);
    background-color: rgba(233, 20, 20, 0.852);
}